body {
	color: blue;
	background-color: indigo;
}

* {
	color: blue;
	font-family: cursive;
}

.dialogue {
	font-style: cursive
	
}

.riddle {
	font-family: cursive;
}

.decision {
	font-family: fantasy;
}

.tuesday {
	color:indigo;
}

